:root{
    --bg-button: rgb(241, 241, 241);
    --border-button: 1px solid rgb(200, 200, 200);
}

.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active{
    background-color: rgb(167, 167, 167);
}

.button.operation{
    background-color: rgb(255, 101, 30);
    color: #fff;
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation:active{
    background-color: rgb(156, 31, 0);
}